<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <style>
            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                background: #fff;
            }

            .container h1 {
                font-size: 60px;
                text-align: center;
            }

            .container hr {
                opacity: 0;
            }

            .container p {
                text-align: center;
                opacity: .5;
                font-size: 14px;
            }

            .intro {
                margin: 12% 0;
                width: 100%;
                opacity: 0;
                transform: translateY(20px);
            }

            .intro.intro__show {
                transition: 2s all;
                opacity: 1;
                transform: translateY(-20px);                
            }

        </style>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/navbar') %>
            <br>
            <%- include('../partials/intro') %>
        </div>
        <script>

            // Variebles

            const intro = document.querySelector('intro')

            function onEntry1(entry) {
            entry.forEach(change => {
                if (change.isIntersecting) {
                change.target.classList.add('intro__show');
                }
            });
            }

            // Настраиваем переменные

            let options1 = {threshold: [0.5] };
            let observer1 = new IntersectionObserver(onEntry1, options1);
            let elements1 = document.querySelectorAll('.intro');

            for (let elm of elements1) {
            observer1.observe(elm);

            // => ||

            }
        </script>
    </body>
</html>